.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  color: #3f51b5;
}

.title {
  color: grey;
}

.descr {
  height: 80px;
  width: 200px;
  word-wrap: break-word;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #3f51b5;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.button:hover {
  transform: scale(1.12);
}
