.wrapper{
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
  margin: 100px auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

mat-form-field{
  width: 100%;
}
