<div class="wrapper">
  <h1 *ngIf="!isAuthorised">Please <a routerLink="/signup">login into your account</a></h1>

  <div *ngIf="isAuthorised">
      <div (click)="selectRoom(doctor.id)" *ngFor="let doctor of onlineDoctors" class="card">
        <img
          [src]="doctor.avatar.url" alt="Not Found" onerror="this.src='../assets/default-avatar.jpg';"
          style="width: 300px; height: 300px"
        />
        <div class="container">
          <h2>{{ doctor.first_name }} {{ doctor.second_name }}</h2>
          <p class="title">{{ doctor.position }}</p>
          <p class="descr">{{ doctor.description }}</p>
        </div>
      </div>
  </div>
</div>

