.header-wrapper {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  padding: 0 10vw;
}

.header-logo {
  color: black;
}

.nav {
  display: flex;
  gap: 30px;
}

.mat-mdc-raised-button:not(:disabled){
  height: 48px;
  font-size: 20px;
  color: white;
  background: #3f51b5;
}
.nav-link {
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: black;
}

.nav-link:hover{
  color: #b1b1fe;
}
