.wrapper{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addTable {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px
}

.addButton{
  height: 56px;
  width: 56px;;
}
